<template>
  <v-app>
    <div :style="fontSize">
      <toolbar-content :toggleDrawer="toggleDrawer"></toolbar-content>
      <main>
        <v-container fluid class="main">
          <v-navigation-drawer temporary floating v-model="drawer" height="25%" light class="mt-3 ml-3 main" v-show="drawer">
            <mobile-nav></mobile-nav>
          </v-navigation-drawer>
          <router-view></router-view>
        </v-container>
      </main>
      <v-footer>
        <footer-content></footer-content>
      </v-footer>
    </div>
  </v-app>
</template>

<script>
import Footer from '@/components/generic/Footer'
import MobileNav from '@/components/generic/MobileNav'
import Toolbar from '@/components/generic/Toolbar'
export default {
  name: 'myapp',
  data() {
    return {
      drawer: false
    }
  },
  components: {
    'mobile-nav': MobileNav,
    'footer-content': Footer,
    'toolbar-content': Toolbar
  },
  computed: {
    fontSize: function() {
      const size = this.$vuetify.breakpoint.xsOnly
        ? '9'
        : this.$vuetify.breakpoint.smAndDown ? '10' : this.$vuetify.breakpoint.mdAndDown ? '11' : '12'
      return {
        fontSize: `${size}px`
      }
    }
  },
  methods: {
    toggleDrawer() {
      this.drawer = !this.drawer
    }
  }
}
</script>
<style>
body {
  font-family: 'Open Sans', sans-serif;
}

.bold {
  font-weight: bold;
}

.liga-disable {
  font-feature-settings: 'liga' 0;
}

.page-title {
  margin-bottom: 0px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  font-size: 3.86em !important;
  line-height: 2;
}

.uppercase-override {
  text-transform: none !important;
}

.custom-btn {
  height: 24px !important;
}

.mobile {
  font-size: 0.8em !important;
}

.medium {
  font-size: 0.85em !important;
}

.menu-btn {
  font-size: 1em !important;
  min-width: 0px !important;
}

.menu-btn div {
  padding: 0 8px !important;
}

.book-cover {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.title-emphasis {
  letter-spacing: 0.1em;
  margin-bottom: 0px;
}

.book-title {
  text-transform: uppercase;
  font-size: 2.29em !important;
  line-height: 1;
}

.light-text {
  color: #c1c2bb;
}
.dark-text {
  color: #7f8077;
}
.main {
  padding: 0px;
}
.clickable {
  cursor: pointer;
}
a {
  color: black !important;
  text-decoration: none;
}

.right-separator {
  border-right: #bcbeb1 2px solid;
}

.slide-fade-enter-active {
  transition: all 0.8s ease-in-out;
}

.slide-fade-leave-active {
  transition: all 0.3s ease-in-out;
}
.slide-fade-enter,
.slide-fade-leave-to {
  transform: translateX(30px);
  opacity: 0;
}
</style>
