<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="20%-40% 2000 Publishing Agreement"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-text  class="dark-text">
                            <p class="mb-1">Complete and Print this form. Send it, along with other items as indicated on the <a href="/#/submission">Submission Form</a>, to Universal-Publishers at the address below.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Publisher Agrees To:</span>
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <p>Universal-Publishers (the Publisher) agrees to assign a publisher's ISBN and offer the work for sale. The Publisher agrees to pay the author a royalty of twenty percent (20%) on sales of the work after the sale of the first three copies sold in each calendar quarter when ordered through a bookseller at our standard discount, and forty percent (40%) on all sales after the sale of the first three copies in each calendar quarter when purchased from Universal-Publishers at the retail price. Royalties are payable 45 days following the end of each calendar quarter.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Author Agrees To:</span>
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <p>THE AUTHOR agrees to submit the Work to Universal-Publishers completely copy edited and ready to publish in the computer file format and layout specified by The Publisher. </p>
                            <p>I understand that it is my sole responsibility to obtain any copyright permission necessary to publish the Work. I guarantee to The Publisher that [a] nothing in the work is plagiarized or infringes any existing copyright; [b] the Work contains no matter that is defamatory, libelous, slanderous, an invasion of privacy, or otherwise unlawful; and [c] I hold all necessary rights to enable Universal-Publishers to publish the Work and I have obtained all relevant consents for the purposes of this Agreement. I agree to indemnify and hold The Publisher harmless against any claim, demand, suit, action, proceeding, prosecution or judgment, based upon The Publisher's exercise of the rights conferred by this Agreement, including all reasonable expenses, losses, penalties, legal fees, and liabilities suffered or incurred. </p>
                            <p>I hereby grant Universal-Publishers the exclusive right to reproduce and distribute, in whole or in part, the Work entitled below in both paper and electronic form for at least two years, or until 2000 copies are sold, which ever comes first. I agree that either party may terminate this agreement for any reason after the two year period, or after 2000 copies are sold, which ever comes first, by giving 90 days prior written notice. I acknowledge that it is my responsibility to notify Universal-Publishers of changes to my email and mailing address so I may be contacted about royalties and other information regarding this Agreement.</p>
                            <v-layout wrap>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Title:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Author:"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Signature:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Date:"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-divider></v-divider>
                            <custom-address></custom-address>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import Address from '@/components/generic/Address'
export default {
  name: 'Agreement',
  components: {
    banner: Banner,
    'custom-address': Address
  },
  data() {
    return {
      author: '',
      email: '',
      comments: ''
    }
  },
  computed: {
    fontSize: function() {
      return `${this.$vuetify.breakpoint.xsOnly ? 0.9 : this.$vuetify.breakpoint.mdAndDown ? 1 : 1.3}em`
    }
  }
}
</script>
