<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="Misc. Payment Form"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-text class="dark-text">
                            <p class="mb-1">Use this page to pay with credit card or PayPal.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base">
                    <v-card>
                        <v-card-text class="dark-text">
                            <v-layout row wrap :style="{'font-size': fontSize}">
                                <v-flex xs4>
                                    <v-text-field v-model.number="amount" label="Payment Amount:" prefix="$" suffix=".00" hint="Enter payment amount above to the nearest dollar. DO NOT ENTER CENTS, DECIMAL, or DOLLAR SIGN. Then click 'Add to Cart' button. You will be taken to a secure shopping cart to authorize charge to your credit card."></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-divider></v-divider>
                                </v-flex>
                                <v-flex xs6 class="mt-4">
                                    <v-btn large color="primary">Add to Cart</v-btn>
                                </v-flex>
                                <v-flex xs6>
                                    <custom-address></custom-address>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import Address from '@/components/generic/Address'
export default {
  name: 'MiscPayments',
  components: {
    banner: Banner,
    'custom-address': Address
  },
  data() {
    return {
      amount: 0
    }
  },
  computed: {
    fontSize: function() {
      return `${this.$vuetify.breakpoint.xsOnly ? 0.9 : this.$vuetify.breakpoint.mdAndDown ? 1 : 1.3}em`
    }
  }
}
</script>
