<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="Author Royalties"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-2 dark-base">
                <v-flex sm8 xs12>
                    <v-card>
                        <v-card-text class="dark-text">
                            <p class="mb-1">Most paperbacks are priced at $25.95 (depending on the length), and $24.00 for electronic ebook editions. Authors receive a 40% royalty on the retail price on sales through the publisher at the full retail price, and a 20% royalty when sold through a bookseller at a reseller discount (see table below.) Author royalties are paid quarterly and apply to all sales of the work after the first three copies sold in each calendar quarter.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm4 xs12 :class="`mt-2 ${mobileSpace}`">
                    <v-card>
                        <v-card-title class="dark-text bold">
                            Paperback copies purchased at Universal-Publishers.com
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <v-data-table v-bind:headers="onsite.headers" :items="onsite.paperback" hide-actions class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <td class="text-xs-center dark-text">{{ props.item.pages }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.price }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.royalty }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm4 xs12 class="mt-2">
                    <v-card>
                        <v-card-title class="dark-text bold">
                            Paperback copies sold through bookstores
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <v-data-table v-bind:headers="offsite.headers" :items="offsite.paperback" hide-actions class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <td class="text-xs-center dark-text">{{ props.item.pages }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.price }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.royalty }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm4 xs12 :class="`mt-2 ${mobileSpace}`">
                    <v-card>
                        <v-card-title class="dark-text bold">
                            Electronic copies purchased at Universal-Publishers.com
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <v-data-table v-bind:headers="onsite.headers" :items="onsite.electronic" hide-actions class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <td class="text-xs-center dark-text">{{ props.item.pages }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.price }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.royalty }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm4 xs12 class="mt-2">
                    <v-card>
                        <v-card-title class="dark-text bold">
                            Electronic copies sold through booksellers and ebook vendors
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <v-data-table v-bind:headers="offsite.headers" :items="offsite.electronic" hide-actions class="elevation-1">
                                <template slot="items" slot-scope="props">
                                    <td class="text-xs-center dark-text">{{ props.item.pages }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.price }}</td>
                                    <td class="text-xs-center dark-text">{{ props.item.royalty }}</td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="mt-2">
                    <v-card>
                        <v-card-text class="dark-text">
                            <p>Retail prices are typical, actual price may be different. Ebook retail prices are usually about $2.00 less than the paperback edition. Author royalties are paid quarterly and apply to all sales of the work after the first three copies sold in each calendar quarter.</p>
                            <p class="mb-1">Authors may purchase copies of their own work at 40% off the retail price plus shipping. Author orders over 100 copies receive a 50% discount. (These copies are non-commissionable and do not count toward royalties).</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
export default {
  name: 'royalties',
  components: {
    banner: Banner
  },
  data() {
    return {
      onsite: {
        headers: [
          {
            text: 'Total Pages',
            align: 'center',
            sortable: false,
            value: 'pages'
          },
          {
            text: 'Retail Price',
            align: 'center',
            sortable: false,
            value: 'price'
          },
          {
            text: '40% Royalty',
            align: 'center',
            sortable: false,
            value: 'royalty'
          }
        ],
        paperback: [
          {
            pages: 'up to 200',
            price: '$25.95',
            royalty: '$10.38'
          },
          {
            pages: '201-300',
            price: '$29.95',
            royalty: '$11.98'
          },
          {
            pages: '301+',
            price: '10¢/pg',
            royalty: '4.0¢/pg'
          }
        ],
        electronic: [
          {
            pages: 'unlimited',
            price: 'typically about $24.00',
            royalty: '$9.60'
          }
        ]
      },
      offsite: {
        headers: [
          {
            text: 'Total Pages',
            align: 'center',
            sortable: false,
            value: 'pages'
          },
          {
            text: 'Retail Price',
            align: 'center',
            sortable: false,
            value: 'price'
          },
          {
            text: '20% Royalty',
            align: 'center',
            sortable: false,
            value: 'royalty'
          }
        ],
        paperback: [
          {
            pages: 'up to 200',
            price: '$25.95',
            royalty: '$5.19'
          },
          {
            pages: '201-300',
            price: '$29.95',
            royalty: '$5.99'
          },
          {
            pages: '301+',
            price: '10¢/pg',
            royalty: '2.0¢/pg'
          }
        ],
        electronic: [
          {
            pages: 'unlimited',
            price: 'typically about $24.00',
            royalty: '$4.80'
          }
        ]
      }
    }
  },
  computed: {
    mobileSpace: function() {
      return this.$vuetify.breakpoint.smAndUp ? 'mr-2' : ''
    }
  }
}
</script>
