<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="20%-40% 2000 Submission Agreement"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-text class="dark-text">
                            <p class="mb-1">Use the "Submit Form" button below to transmit this form to The Publisher.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Author Information:</span>
                        </v-card-title>
                        <v-card-text>
                            <v-layout justify-center wrap>
                                <v-flex xs1 class="mr-2">
                                    <v-select :items="['Mr.', 'Ms.', 'Dr.']"></v-select>
                                </v-flex>
                                <v-flex xs4 class="mr-2">
                                    <v-text-field label="First:"></v-text-field>
                                </v-flex>
                                <v-flex xs4 class="mr-2">
                                    <v-text-field label="Last:"></v-text-field>
                                </v-flex>
                                <v-flex xs1>
                                    <v-text-field label="M:" hint="Middle Initital"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Email:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="SS# / US Tax ID:" hint="SS# (Social Security Number) and/or US Tax ID are for US income tax reporting purposes. US Citizens must have SS# (Social Security Number) and/or US Tax ID on file to receive author royalty payments. Foreign citizens, please enter 'foreign citizen' in this field."></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="P.O. Box:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Street Address:"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="City:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="State:"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Zip Code:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Country:"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Telephonw:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Fax:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Web URL:" hint="Enter the URL of the author's personal or professional web page so interested readers can get more information about the author's work."></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Publication Data:</span>
                        </v-card-title>
                        <v-card-text>
                            <v-layout justify-center wrap>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Title of Work:" hint="The title is one of the most important marketing elements of a book. Many bookseller and search databases only index books by title and author. Use a descriptive subtitle to include important keywords so your book can be easily found by interested readers."></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Subtitle:" hint="The title is one of the most important marketing elements of a book. Many bookseller and search databases only index books by title and author. Use a descriptive subtitle to include important keywords so your book can be easily found by interested readers."></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Author's Name:" hint="The author's name as it should appear on the title page. Usually, first name, middle initial, last name, Jr, etc."></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Subject Category:"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field label="Copyright Year:"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field label="Keywords not in title:"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="mr-4">
                                    <v-text-field textarea label="Synopsis:" hint="Include a short, one or two paragraph synopsis of you book. It should describe what the book is about, who should read it, what they will learn, and how it is better or unique compared to similar books. It will be posted on the internet with your book presenation and sent to booksellers for their catalogs."></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field textarea label="Author Bio (Optional):" hint="OPTIONAL. Send a one paragraph biography of yourself with information relevant to your work."></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Confirmation of Publishing Agreement:</span>
                        </v-card-title>
                        <v-card-text>
                            <v-layout justify-center wrap>
                                <v-flex xs12>
                                    <v-card>
                                        <v-card-text class="dark-text pb-0">
                                            <p>Publisher Agrees To:</p>
                                            <p>Universal Publishers (the Publisher) agrees to assign a publisher's ISBN and offer the work for sale. The Publisher agrees to pay the author a royalty of twenty percent (20%) on sales of the work after the sale of the first three copies sold in each calendar quarter when ordered through a bookseller at our standard discount, and forty percent (40%) on all sales after the sale of the first three copies in each calendar quarter when purchased from Universal Publishers at the retail price. Royalties are payable 45 days following the end of each calendar quarter.</p>
                                            <p>Author Agrees To:</p>
                                            <p>THE AUTHOR agrees to submit the Work to Universal-Publishers completely copy edited and ready to publish in the computer file format and layout specified by The Publisher.</p>
                                            <p>I understand that it is my sole responsibility to obtain any copyright permission necessary to publish the Work. I guarantee to The Publisher that [a] nothing in the work is plagiarized or infringes any existing copyright; [b] the Work contains no matter that is defamatory, libelous, slanderous, an invasion of privacy, or otherwise unlawful; and [c] I hold all necessary rights to enable Universal-Publishers to publish the Work and I have obtained all relevant consents for the purposes of this Agreement. I agree to indemnify and hold The Publisher harmless against any claim, demand, suit, action, proceeding, prosecution or judgment, based upon The Publisher's exercise of the rights conferred by this Agreement, including all reasonable expenses, losses, penalties, legal fees, and liabilities suffered or incurred. </p>
                                            <p>I hereby grant Universal-Publishers the exclusive right to reproduce and distribute, in whole or in part, the Work entitled below in both paper and electronic form for at least two years, or until 2000 copies are sold, which ever comes first. I agree that either party may terminate this agreement for any reason after the two year period, or after 2000 copies are sold, which ever comes first, by giving 90 days prior written notice. I acknowledge that it is my responsibility to notify Universal-Publishers of changes to my email and mailing address so I may be contacted about royalties and other information regarding this Agreement.</p>
                                            <v-checkbox :label="`By checking this box I declare that I have read, understand, and will abide by this Agreement.`" v-model="agreement"></v-checkbox>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base">
                    <v-card>
                        <v-card-title>
                            <span class="headline">Security Code:</span>
                        </v-card-title>
                        <v-card-text class="dark-text">
                            <v-layout wrap>
                                <v-flex xs6>
                                    <v-text-field label="Security Code:"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-divider></v-divider>
                                </v-flex>
                                <v-flex xs6 class="mt-4">
                                    <v-btn large color="primary">Submit Form</v-btn>
                                </v-flex>
                                <v-flex xs6>
                                    <custom-address></custom-address>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import Address from '@/components/generic/Address'
export default {
  name: 'Submission',
  components: {
    banner: Banner,
    'custom-address': Address
  },
  data() {
    return {
      agreement: false
    }
  },
  computed: {
    fontSize: function() {
      return `${this.$vuetify.breakpoint.xsOnly ? 0.9 : this.$vuetify.breakpoint.mdAndDown ? 1 : 1.3}em`
    }
  }
}
</script>
