<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="File Upload Data Form"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex sm8 xs12 class="dark-base mb-2">
                    <v-card>
                        <v-card-text class="dark-text">
                            <p class="mb-1">Complete information below, then click on the "Proceed" button to select the files on your computer for uploading.<br><b>Maximum file size: 80 Megabytes.</b></p>
                        </v-card-text>
                    </v-card>
                </v-flex>
                <v-flex sm8 xs12 class="dark-base">
                    <v-card>
                        <v-card-text>
                            <v-layout justify-center row wrap :style="{'font-size': fontSize}">
                                <v-flex xs3>
                                    <v-text-field label="Your Name:"></v-text-field>
                                </v-flex>
                                <v-flex xs3 class="ml-3">
                                    <v-text-field label="E-mail Address:"></v-text-field>
                                </v-flex>
                                <v-flex xs8>
                                    <v-text-field textarea label="Comments:"></v-text-field>
                                </v-flex>
                                <v-flex md5 offset-md3 sm4 offset-sm1 xs5>
                                    <upload-btn title="Proceed"></upload-btn>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import UploadButton from '@/components/generic/UploadButton'
export default {
  name: 'Upload',
  components: {
    banner: Banner,
    'upload-btn': UploadButton
  },
  data() {
    return {
      author: '',
      email: '',
      comments: ''
    }
  },
  computed: {
      fontSize: function() {
          return `${this.$vuetify.breakpoint.xsOnly ? 0.9 : this.$vuetify.breakpoint.mdAndDown ? 1 : 1.3}em`
      }
  }
}
</script>
