<template>
    <p class="text-xs-right mt-4">Universal Publishers, Inc. <br> 200 Spectrum Center, 3rd floor <br> Irvine, CA 92618-5004 <br> USA <br> Fax: 561.750.6797</p>
</template>

<script>
export default {
  name: 'Address'
}
</script>

