<template>
    <v-layout justify-center class="text-xs-center pt-3">
        <h6 :style="desc" class="liga-disable px-3 dark-text">{{text}}</h6>
    </v-layout>
</template>

<script>
export default {
  name: 'banner',
  props: {
    text: {
      type: String,
      default: 'Book Publishers of Scientific, Technical, Academic, and Specialized Nonfiction'
    }
  },
  computed: {
    desc: function() {
      const spacing = this.$vuetify.breakpoint.xsOnly ? '0' : '3'
      const font = this.$vuetify.breakpoint.xsOnly ? '1' : '1.14'
      return {
        display: `block`,
        'letter-spacing': `${spacing}px`,
        'font-size': `${font}em`
      }
    }
  }
}
</script>

