<template>
  <v-layout justify-center align-center row class="foot dark-base my-0">
    <v-flex md3 sm6 offset-md5 offset-sm3 class="py-2">
      <v-layout align-center>
        <v-flex xs3 class="dark-text title-emphasis find text-xs-right mx-2">FIND US </v-flex>
        <v-flex xs9 :class="`a2a_kit a2a_kit_size_20 a2a_default_style a2a_follow mr-1`">
          <a class="a2a_button_twitter" data-a2a-follow="uPublishCom"></a>
          <a class="a2a_button_facebook" data-a2a-follow="UniversalBookPublishers"></a>          
          <a class="a2a_button_google_plus" data-a2a-follow="+UniversalPublishersBooks"></a>
          <a class="a2a_button_linkedin_company" data-a2a-follow="universal-publishers-brownwalker-press-&amp;-dissertation-com"></a>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex class="text-xs-right mt-2 mr-3 legal">
      <span>© Universal-Publishers, Inc.
        <i>Expertise Shared.
          <sup>sm</sup>
        </i> <br>
        <p>All rights reserved. |
          <a href="legal.php">Legal &amp; Trademarks</a>
        </p>
      </span>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: 'footer-content'
}
</script>
<style scoped>
.foot {
  margin: 0px;
}
.legal {
  font-size: 0.8em;
}
.find {
  font-size: 1.16em;
}
</style>
