<template>
    <v-list class="pt-0" dense>
        <v-list-tile>
            <v-list-tile-action>
                <v-icon>search</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-text-field label="Search Bookstore" solo class="mt-2" v-model="search"></v-text-field>
            </v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile v-for="item in items" :key="item.title" :href="item.link">
            <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</template>

<script>
export default {
  name: 'mobile-navigation',
  data() {
    return {
      search: '',
      items: [
        { icon: 'shopping_cart', title: 'Shopping Cart', link: '/' },
        { icon: 'more_vert', title: 'Site Map', link: '/' }
      ]
    }
  }
}
</script>
