<template>
  <v-toolbar color="dark-base" flat>
    <v-toolbar-side-icon v-show="$vuetify.breakpoint.xsOnly" @click.stop="toggleDrawer()"></v-toolbar-side-icon>
    <v-toolbar-title>
      <img v-show="$vuetify.breakpoint.smAndUp || !searchtext" :src="`../../static/${logoSrc}.png`" :height="logoHeight" class="clickable pt-2" @click="home"></img>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <div v-show="$vuetify.breakpoint.smAndUp">
      <transition name="slide-fade">
        <v-text-field class="white--text" v-show="searchtext" label="Search Bookstore" v-model="search" @keyup.enter.native="showSearch"></v-text-field>
      </transition>
    </div>
    <v-tooltip bottom v-show="$vuetify.breakpoint.smAndUp">
      <v-btn slot="activator" icon @click="toggleSearch()">
        <v-icon>search</v-icon>
      </v-btn>
      <span>Search</span>
    </v-tooltip>
    <v-toolbar-items>
      <v-btn flat v-for="(item, i) in categories" :key="i" :to="item.link" class="menu-btn">{{item.text}}</v-btn>
    </v-toolbar-items>
    <v-tooltip bottom v-show="$vuetify.breakpoint.smAndUp">
      <v-btn slot="activator" icon>
        <v-icon>shopping_cart</v-icon>
      </v-btn>
      <span>Cart</span>
    </v-tooltip>
    <v-tooltip bottom v-show="$vuetify.breakpoint.smAndUp">
      <v-btn slot="activator" icon :to="siteMap">
        <v-icon>more_vert</v-icon>
      </v-btn>
      <span>Site Map</span>
    </v-tooltip>
  </v-toolbar>
</template>

<script>
import constants from '@/utils/constants'
export default {
  name: 'toolbar',
  props: {
    toggleDrawer: {
      type: Function,
      required: true
    }
  },
  data() {
    return {
      search: '',
      searchtext: false,
      categories: [
        { text: 'BOOKSTORE', link: constants.links.bookstore },
        { text: 'PUBLISHING', link: constants.links.publishing },
        { text: 'PROPOSALS', link: constants.links.proposals }
      ],
      siteMap: constants.links.siteMap
    }
  },
  computed: {
    logoHeight: function() {
      return this.$vuetify.breakpoint.smAndUp ? '50px' : '40px'
    },
    logoSrc: function() {
      return this.$vuetify.breakpoint.smAndUp ? 'left_logo' : 'logo-slim'
    }
  },
  methods: {
    home() {
      this.$router.push({ name: 'Welcome' })
    },
    toggleSearch() {
      this.searchtext = !this.searchtext
    },
    showSearch() {
      this.$router.push({ name: 'Search', params: { search: this.search } })
    }
  }
}
</script>
