/** Stylus Styles */
@require '../../node_modules/vuetify/src/stylus/settings/_colors'
$theme := {
  primary: #8b8e7d
  light-base: #d9dbd0
  dark-base: #BCBEB1
  accent: $light-green.accent-4
  secondary: $grey.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $green.base
}
@import '../../node_modules/vuetify/src/stylus/main'