<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="Browse by Category"></banner>
        </v-flex>
        <v-flex xs12>
            <v-layout wrap>
                <v-flex xs12>
                    <v-layout justify-center class="dark-base pt-2" wrap>
                        <v-flex xs12 v-for="i in rows" :key="i">
                            <v-layout justify-center>
                                <v-flex v-for="j in columns" :key="j" sm2 xs3 class="mx-2">
                                    <scaled-btn small block :to="`/Bookstore/${categories[(j-1)*rows + (i-1)]}/1`">
                                        {{categories[(j-1)*rows + (i-1)]}}
                                    </scaled-btn>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        <v-flex v-show="!extra > 0" class="mx-2 mt-1 mb-2"></v-flex>
                        <v-flex v-show="extra > 0" v-for="(category, k) in categories.slice(-extra)" :key="k" sm2 xs3 class="mx-2 mt-1 mb-2">
                            <scaled-btn small block :to="`/Bookstore/${category}/1`">{{category}}</scaled-btn>
                        </v-flex>
                    </v-layout>
                </v-flex>
                <v-flex xs12 class="pt-2">
                    <shelf></shelf>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import constants from '@/utils/constants'
import Shelf from '@/components/books/Shelf'
import ScaledButton from '@/components/generic/ScaledButton'
export default {
  name: 'bookstore',
  components: {
    banner: Banner,
    shelf: Shelf,
    'scaled-btn': ScaledButton
  },
  data() {
    return {
      category: '',
      categories: constants.categories
    }
  },
  mounted() {
    this.category = 'Featured'
  },
  computed: {
    rows: function() {
      return this.$vuetify.breakpoint.mdAndUp ? 4 : this.$vuetify.breakpoint.smAndUp ? 5 : 7
    },
    columns: function() {
      return ~~(this.categories.length / this.rows)
    },
    extra: function() {
      return this.categories.length % this.rows
    }
  }
}
</script>

