<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="Book Proposal Form"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex sm8 xs12 class="dark-base">
                    <v-card>
                        <v-card-text>
                            <v-layout justify-center row wrap :style="{'font-size': fontSize}">
                                <v-flex xs3>
                                    <v-text-field label="Your Name / Author name:"></v-text-field>
                                </v-flex>
                                <v-flex xs3 class="ml-3">
                                    <v-text-field label="E-mail Address:" hint="(Used one time only. Not to be sold or used for any further solicitation.)"></v-text-field>
                                </v-flex>
                                <v-flex xs3 class="ml-3">
                                    <v-text-field label="Primary Telephone:" hint="(If we cannot contact you via email.)"></v-text-field>
                                </v-flex>
                                <v-flex xs12>
                                    <v-layout justify-center row wrap>
                                        <v-flex xs4>
                                            <v-text-field label="Tentative title of the book:"></v-text-field>
                                        </v-flex>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field textarea label="Brief explanation of the book:" hint="Include the title of the book. What is the manuscript about? What will the reader learn from it? Why it is important?"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="ml-5">
                                    <v-text-field textarea label="Anticipated market for the book:" hint="For whom did you write the book? How big is the audience, and how can it be reached??"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field textarea label="Competition for the book:" hint="Are other books available on the same or similar topic? What makes your manuscript different or superior? (Perform a search of books in print at Amazon.com if you are not sure)."></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="ml-5">
                                    <v-text-field textarea label="Author's qualifications:" hint="List your credentials and experience in relation to the topic of the book. Do you have experience speaking, teaching or writing about this or similar subjects?"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-text-field textarea label="Promotional resources:" hint="Do you have a marketing plan for the book? A web site (list URL)? Speaking or networking opportunities to promote the book? How many copies do you think would be purchased based on your personal and professional contacts?"></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="ml-5">
                                    <v-text-field textarea label="Format of the manuscript:" hint="How many pages is your manuscript? Which word processing or page layout program is it in? How many graphics, photos or illustrations are necessary for the manuscript? Is the manuscript finished?"></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-select :items="refOptions" v-model="reference" label="How did you hear about us?"></v-select>
                                    <v-text-field v-show="reference==='Other'" label="Please describe (Other Referral): " ></v-text-field>
                                </v-flex>
                                <v-flex xs5 class="ml-5">
                                    <v-select :items="eduOptions" v-model="education" label="Education background:"></v-select>
                                    <v-text-field v-show="education==='Other'" label="Please describe (Other Education): " ></v-text-field>
                                </v-flex>
                                <v-flex xs5>
                                    <v-select :items="prevOptions" v-model="prev" label="Previously published:"></v-select>
                                    <v-select :items="topics" v-model="topic" label="Topic:"></v-select>
                                </v-flex>
                                <v-flex xs5 class="ml-5">
                                    <v-text-field textarea label="Your comments or questions:" ></v-text-field>
                                </v-flex>
                                <v-flex md2 sm5 xs6>
                                    <v-btn large color="primary">Submit Proposal</v-btn>
                                </v-flex>
                            </v-layout>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner text="All proposals receive personal feedback. Please allow five to seven business days."></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import constants from '@/utils/constants'
export default {
  name: 'proposals',
  components: {
    banner: Banner
  },
  data() {
    return {
      author: '',
      email: '',
      phone: '',
      title: '',
      summary: '',
      market: '',
      competition: '',
      qualifications: '',
      resources: '',
      format: '',
      refOptions: [
        'Word of mouth',
        'One of our authors',
        'Internet search engine',
        'Website banner',
        'Print magazine ad',
        'Radio interview',
        'Other'
      ],
      reference: '',
      refOther: '',
      eduOptions: ['High school', '4 year college', 'Masters', 'Ph.D', 'MD', 'JD', 'Other'],
      education: '',
      eduOther: '',
      prev: '',
      prevOptions: ['No', 'Yes - 1 book', 'Yes more than 1 book', 'Yes - books and articles'],
      comments: '',
      topic: '',
      topics: constants.categories
    }
  },
  computed: {
      fontSize: function() {
          return `${this.$vuetify.breakpoint.xsOnly ? 0.9 : this.$vuetify.breakpoint.mdAndDown ? 1 : 1.3}em`
      }
  }
}
</script>
