<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="Publishing"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex sm8 xs12 class="dark-base">
                    <v-card>
                        <v-card-text class="dark-text">
                            <p>Like traditional publishing houses we are selective about what we publish. However, because we are independent, we can publish many manuscripts that may not be profitable enough for large corporate publishers. By working closely with the author throughout the publishing process we have successfully published many manuscripts that would be difficult for other publishers. Although we do not offer monetary advances, we pay competitive royalties for nonfiction work. </p>
                            <p>Our publications are sold in paperback and ebook editions through thousands of booksellers including Amazon.com, Barnes & Noble, Powell's, Mobipocket, and directly via the internet. In addition to global internet distribution, we share printing and distribution facilities with some of the largest publishers in the world. The production facilities we use in the US and UK ensure quality manufacturing and easy access to all of our titles. </p>
                            <p>We publish a wide variety of nonfiction topics, technical guides, and textbooks. Specifically, we are looking for specialized manuscripts written by authors who are established in their field, and who make their living through the communication of those ideas to others. The ideal manuscript will be written for an identifiable and easily reachable audience. It should be complete and proofread for errors in language, form and content. Since we can only publish a limited number of manuscripts, when deciding between two manuscripts we will look at the following criteria: <br><br>* Usefulness <br>* Originality <br>* Writing quality <br>* Manuscript preparation <br>* Size and reachability of audience</p>
                            <p class="mb-1">The first step is to complete our <a href="/#/Proposals">Book Proposal</a> form. A representative will contact you within two weeks with feedback regarding your proposal. If it looks like you have what we're looking for, we'll ask to see your manuscript.</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
export default {
  name: 'publishing',
  components: {
    banner: Banner
  }
}
</script>
