<template>
    <v-layout justify-center wrap>
        <v-flex xs12>
            <banner text="Site Map"></banner>
        </v-flex>
        <v-flex xs12 class="dark-base">
            <v-layout justify-center row wrap class="ma-3">
                <v-flex v-for="(link, i) in links" :key="i" sm8 xs12 class="mb-2">
                    <v-card :to="link.link">
                        <v-card-text>
                            <v-icon>keyboard_arrow_right</v-icon>{{link.title}}
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <banner></banner>
        </v-flex>
    </v-layout>
</template>

<script>
import Banner from '@/components/generic/Banner'
import constants from '@/utils/constants'
export default {
  name: 'SiteMap',
  components: {
    banner: Banner
  },
  data() {
    return {
      links: [
          {title: 'Home', link: constants.links.welcome},
          {title: 'Bookstore', link: constants.links.bookstore},
          {title: 'Publishing', link: constants.links.publishing},
          {title: 'Book Proposals', link: constants.links.proposals}
      ]
    }
  },
  computed: {
      fontSize: function() {
          return `${this.$vuetify.breakpoint.xsOnly ? 0.9 : this.$vuetify.breakpoint.mdAndDown ? 1 : 1.3}em`
      }
  }
}
</script>
