<template>
  <v-layout row wrap>
    <v-flex xs12>
      <banner></banner>
    </v-flex>
    <v-flex xs12>
      <img :src="image" class="banner"/>
    </v-flex>
    <book-list title="New Releases" :items="content.newest"></book-list>
    <v-divider class="mx-5"></v-divider>
    <book-list title="Featured" :items="content.featured"></book-list>
  </v-layout>
</template>

<script>
import BookList from '@/components/books/BookList'
import Banner from '@/components/generic/Banner'
import api from '@/utils/api'
export default {
  name: 'featured',
  components: {
    'book-list': BookList,
    banner: Banner
  },
  data() {
    return {
      content: {
        featured: [],
        newest: []
      },
      imageIndex: 1
    }
  },
  mounted() {
    this.land()
    this.imageIndex = Math.floor(Math.random() * 2 + 1)
    setInterval(this.switchImage, 1000 * 10)
  },
  computed: {
    image: function() {
      return `../../static/banner${this.imageIndex}.jpg`
    }
  },
  methods: {
    land: function() {
      api.newest().then(response => {
        this.$set(this.content, 'newest', response.newest)
      })
      api.category('Featured', 1).then(response => {
        this.$set(this.content, 'featured', response.data)
      })
    },
    switchImage: function() {
      this.imageIndex = this.imageIndex % 2 + 1
    }
  }
}
</script>
<style scoped>
.banner {
  display: block;
  height: auto;
  max-height: 450px;
  min-height: 150px;
  width: 100%;
}
</style>
