<template>
  <v-layout wrap v-if="details">
    <v-flex xs12>
      <banner></banner>
    </v-flex>
    <v-flex xs12 class="dark-base">
      <v-layout wrap>
        <v-flex sm3 offset-sm1 xs4><img class="book-cover mt-3" :src="randomImage(details.id)"></img>
        </v-flex>
        <v-flex xs8>
          <v-layout align-center wrap>
            <v-flex xs8 class="mt-4 pb-3">
              <div>
                <div class="book-title title-emphasis white--text">The Fall of Literary Theory</div>
                <div class="author black--text pb-2">{{details.author}}</div>
                <div class="black--text">Publisher: {{details.publisher}}</div>
                <div class="black--text">Pub date: {{details.year}}</div>
                <div class="black--text">Pages: {{details.pages}}</div>
                <div class="black--text">ISBN-10: {{details.isbn10}}</div>
                <div class="black--text">ISBN-13: {{details.isbn13}}</div>
                <scaled-btn small outline :href="`#/Bookstore/${details.category}/1`" class="mt-2 ml-0">Subject: {{details.category}}</scaled-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-flex xs12>
      <v-layout wrap>
        <v-flex xs3>
          <v-layout wrap>
            <v-flex xs12 class="ml-5 my-2 edition">PURCHASE OPTIONS:</v-flex>
            <v-flex xs12>
              <v-expansion-panel popout expand class="ml-4">
                <v-expansion-panel-content v-for="(options, key, i) in purchasing" :key="i" class="grey lighten-5 elevation-2">
                  <div slot="header" class="black--text">
                    <span class="price">$24.99</span>
                    {{key}}
                  </div>
                  <v-card>
                    <v-list-tile v-for="(option, j) in options" :key="j" @click="" class="grey lighten-5 elevation-2">
                      <v-list-tile-action class="hidden-sm-and-down">
                        <v-icon color="black">fa-amazon</v-icon>
                      </v-list-tile-action>
                      <v-list-tile-content>
                        <div :class="categoryStyles">{{ option.text }}</div>
                      </v-list-tile-content>
                      <v-list-tile-action class="hidden-sm-and-down">
                        <v-icon color="black">star</v-icon>
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-card>
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs8 offset-xs1>
          <v-layout wrap class="text-md-left my-2">
            <v-flex xs8 class="edition">SYNOPSIS:</v-flex>
            <v-flex xs8 class="dark-text mb-4">{{details.synopsis}}{{details.synopsis}}</v-flex>
            <v-flex xs8 class="edition">ABOUT THE AUTHOR:</v-flex>
            <v-flex xs8 class="dark-text mb-2">{{details.synopsis}}</v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
import api from '@/utils/api'
import Banner from '@/components/generic/Banner'
import ScaledButton from '@/components/generic/ScaledButton'
export default {
  name: 'book',
  components: {
    banner: Banner,
    'scaled-btn': ScaledButton
  },
  data() {
    return {
      details: undefined,
      purchasing: {
        'Print Edition': [{ text: 'Universal Publishers' }, { text: 'Amazon.com' }, { text: 'Barnes & Noble' }],
        'PDF Ebook': [{ text: 'Download Preview' }, { text: 'Buy PDF Password' }, { text: 'Download Full PDF' }],
        'Ebook Editions': [
          { text: 'Google Play/Preview' },
          { text: 'Amazon Kindle' },
          { text: 'Apple iBookstore' },
          { text: 'BN Nook' }
        ]
      }
    }
  },
  mounted() {
    this.getBook()
  },
  computed: {
    categoryStyles: function() {
      return this.$vuetify.breakpoint.mdAndUp ? 'medium' : 'small'
    }
  },
  methods: {
    getBook() {
      api.details(this.$route.params.id).then(response => {
        this.details = response
      })
    },
    randomImage(id) {
      return `../../../static/book${id % 3 + 1}.png`
    }
  }
}
</script>
<style scoped>
.author {
  font-size: 1.7em;
}

.medium {
  font-size: 0.83em;
}

.small {
  font-size: 0.53em;
}

.underline {
  border-top: black solid 1px;
}

.edition {
  font-size: 1.4em;
}

.price {
  color: #820000;
  font-weight: bold;
}
</style>

