<template>
    <v-layout row wrap class="mt-3">
        <v-flex offset-xs1 xs12 sm3>
            <h2 class="book-title title-emphasis light-text text-sm-left text-xs-center">{{title}}</h2>
        </v-flex>
        <v-flex xs12 sm4 :class="$vuetify.breakpoint.xsOnly ? 'py-1 mb-1' : ''">
            <slot name="pagination"></slot>
        </v-flex>
        <v-flex xs12 :class="$vuetify.breakpoint.smAndUp ? 'px-5 mx-5' : ''">
            <v-layout row wrap class="pb-3">
                <v-flex v-for="(item,i) in items" :key="i" xs12 md4>
                    <a :href="`/#/book/${item.id}`">
                        <v-layout wrap row :class="`clickable ${$vuetify.breakpoint.smAndDown ? '' : 'mx-1'}`">
                            <v-flex xs5 md12>
                                <img class="book-cover" :src="randomImage(item.id)"></img>
                            </v-flex>
                            <v-flex xs1 md2 class="price text-xs-right">
                                <div>$24.99</div>
                            </v-flex>
                            <v-flex xs5 md9 :class="`border ${$vuetify.breakpoint.smAndDown ? 'mb-5' : ''}`">
                                <div class="book-title light-text">The Fall of Literary Theory</div>
                                <div class="light-text author pb-2">{{item.author}}</div>
                                <div class="light-text">{{item.subtitle}} {{item.subtitle}} {{item.subtitle}}</div>
                                <div class="pt-1">
                                    <a :href="`/#/book/${item.id}`">Read More >></a>
                                </div>
                            </v-flex>
                        </v-layout>
                    </a>
                </v-flex>
            </v-layout>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
  name: 'BookList',
  props: {
    title: String,
    items: Array
  },
  data() {
    return {
      dialog: false
    }
  },
  methods: {
    randomImage(id) {
      return `../../static/book${id % 3 + 1}.png`
    },
    details(item) {
      this.title = item
      this.dialog = true
    },
    close() {
      this.dialog = false
    }
  }
}
</script>
<style scoped>
.price {
  font-size: 1.25em;
  font-weight: bold;
}

.author {
  font-size: 1.25em;
}

.border {
  padding-left: 10px;
  margin-left: 10px;
  border-left: #000 1px solid;
}

.capitalized {
  text-transform: capitalize;
}
</style>
