<template>
    <div class="base mt-5 pt-5">
        <title-group class="pt-3" :title="`Search: ${$route.params.search}`" :items="titles"></title-group>
        <v-layout column align-center class="mb-2">
            <v-pagination :length="pages" :total-visible="5" v-model="page"></v-pagination>
        </v-layout>
    </div>
</template>

<script>
import BookList from '@/components/books/BookList'
import api from '../../utils/api'
export default {
    name: 'search',
    components: {
        'book-list': BookList
    },
    data() {
        return {
            titles: [],
            pages: 1,
            page: 1
        }
    },
    mounted() {
        this.search()
    },
    methods: {
        search() {
            api.search(this.$route.params.search, this.page).then((response) => {
                this.titles = response.data
                if (this.pages !== response.lastPage) {
                    this.page = 1
                    this.pages = response.lastPage
                }
            })
        }
    },
    watch: {
        '$route'() {
            this.search()
        },
        page() {
            this.search()
        }
    }
}
</script>
