<template>
    <v-layout wrap>
        <v-flex xs12>
            <v-layout justify-center>
                <v-menu offset-y>
                    <scaled-btn slot="activator" color="white" :style="{'text-transform': 'none'}">SORT BY: {{sort}}</scaled-btn>
                    <v-list>
                        <v-list-tile v-for="item in sorting" :key="item" @click="sort=item">
                            <v-list-tile-title>{{ item }}</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
            </v-layout>
        </v-flex>
        <v-flex xs12>
            <book-list :title="category" :items="titles">
                <v-layout column align-center class="mb-2" slot="pagination">
                    <v-pagination :length="pages" :total-visible="7" v-model="page"></v-pagination>
                </v-layout>
            </book-list>
        </v-flex>
    </v-layout>
</template>

<script>
import api from '@/utils/api'
import BookList from '@/components/books/BookList'
import ScaledButton from '@/components/generic/ScaledButton'
export default {
  name: 'Shelf',
  components: {
    'book-list': BookList,
    'scaled-btn': ScaledButton
  },
  data() {
    return {
      titles: [],
      sorting: ['Featured', 'Top Selling', 'Pub Date'],
      sort: 'Featured',
      pages: 1,
      page: 1
    }
  },
  mounted() {
    this.pageChange()
  },
  computed: {
    category: function() {
      return this.$route.params.category
    }
  },
  methods: {
    pageChange() {
      this.page = parseInt(this.$route.params.page)
      this.getBooks()
    },
    getBooks() {
      api.category(this.category, this.page).then(response => {
        this.titles = response.data
        this.pages = response.lastPage
      })
    }
  },
  watch: {
    page() {
      this.$router.push({ name: 'Bookstore', params: { category: this.category, page: this.page } })
      this.getBooks()
    },
    category() {
      this.pageChange()
    }
  }
}
</script>

